
/* <!--------------------Root--> */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* <!--------------------Header NavBar--> */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/front2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2%, 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    margin: 15px;
    width: 150px;
}

.nav-links {
    display: flex;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    font-size: 1rem;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}


.nav-links ul li a {
    text-decoration: none;
    color: white;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* <!--------------------Heading section on home page--> */

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 65px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

/* <!--------------------Button of hero-btn class--> */

.hero-btn {
    display: inline-block;
    text-decoration: none;
    padding: 12px 34px;
    color: white;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
}

/* <!--------------------Hero Button Hover-> */

.hero-btn:hover {
    border: 1px solid white;
    border-radius: 4px;
    background: #f44336;
    transition: 0.5s;
}


/* <!--------------------icons to open of close tab--> */

nav .fa {
    display: none;
}


/* <!--------------------Media queries for screen width 700px for cell phone using --> */

@media(max-width: 700px) {


    nav img {
        margin: 5px;
        margin-top: 10px;
        width: 100px;
    }

    .text-box h1 {
        font-size: 20px;
    }

    .text-box p {
        margin: 10px 0 40px;
        font-size: 10px;
        color: white;
    }

    .nav-links ul {
        padding: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background-color: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        /* padding: 2px; */
        font-size: 22px;
        cursor: pointer;
    }
}



/* <!--------------------Preparation section--> */


.prep {
    margin: auto;
    padding-top: 100px;
    text-align: center;
    width: 80%;
}

.prep h1 {
    font-size: 36px;
    font-weight: 600;
}

.prep p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.prep-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.prep-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.prep-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}


/* <!--------------------Media queries for course sect--> */

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }

}




/* <!--------------------Spot Section--> */


.spot {
    margin: auto;
    padding-top: 100px;
    text-align: center;
    width: 80%;
}


.c
spot h1 {
    font-size: 36px;
    font-weight: 600;
}

.spot p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.spot-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.spot-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    opacity: 0;
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/* <!--------------------Facilities Section--> */

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities h1 {
    font-size: 36px;
    font-weight: 600;
}

.facilities p {
    font-size: 14px;
    color: #777;
    font-weight: 300;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* <!--------------------Testmonials Section--> */


.testmonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testmonials h1 {
    font-size: 36px;
}

.testmonials p {
    color: #777;
    font-size: 14px;
}

.testmonials-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testmonials-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testmonials-col h3 {
    text-align: left;
    margin-top: 10px;
    font-weight: 500;
}

.testmonials-col p {
    font-size: 13px;
    color: #777;
}

.testmonials-col .fa {
    color: #f44336;
}



/* <!--------------------Testmonials Section media--> */



@media (max-width:700px) {
    .testmonials-col img {
        margin-left: 0;
        margin-right: 15px;
    }
}



/* <!--------------------Call to action Section--> */



.cta {
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
}



/* <!--------------------CTA Section media query 
 for reducing the font size of heading h1--> */



@media (max-width:700px) {
    .cta h1 {
        font-size: 15px;
    }
}



/* <!--------------------Footer Section--> */


.footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;
}

.footer p {
    font-size: 13px;
    color: #777;
    margin-bottom: 25px;
}

.footer h4 {
    font-size: 26px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 500;
}

.icons .fa {
    color: #f44336;
    font-size: 30px;
    margin-top: 0px 13px;
    padding: 18px 10px;
    cursor: pointer;
}

.fa-heart-o {
    color: #f44336;
}

/* _________________________________________ */
/*-------------- ABOUT US PAGE ------------- */
/* _________________________________________ */

.sub-header {
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1 {
    margin-top: 100px;
    font-size: 36px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col h1 {
    padding-top: 0px;
    font-size: 24px;
}

.about-col p {
    padding: 15px 0 25px;
    color: #777;
}

.about-col img {
    width: 100%;
    border-radius: 5px;

}

.red-btn {
    background: white;
    border: 1px solid #f44336;
    color: #f44336;
}

.red-btn:hover {
    color: white;
}


/* _________________________________________ */
/*-------------- Blog PAGE ----------------- */
/* _________________________________________ */

.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 65%;

}

.blog-left img {
    width: 100%;
    border-radius: 4px;
}

.blog-left h2 {
    color: #222;
    margin: 30px 0;
    font-weight: 600;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    background: #f44336;
    color: white;
    padding: 7px 0px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 9px;
    box-sizing: border-box;
}

.comment-box {
    border: 1px solid #f44336;
    margin: 50px 0;
    border-radius: 3px;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin: 5px 0;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

@media (max-width:700px) {
    .sub-header h1 {
        font-size: 25px;
    }
}


/* _________________________________________ */
/*-------------- Contact us page ----------- */
/* _________________________________________ */
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;

}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    color: #777;
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    font-weight: 400;
    color: #555;
    margin-bottom: 3px;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    margin: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    outline: none;
}
